@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Syncopate:wght@400;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #131313;

  color: #f3f5f4;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-s-header.is-open .r-s-header-background {
  left: 0;
}
.r-s-header-button-wrapper {
  margin-left: auto;
}
.r-s-header-icon {
  display: none;
}

.r-s-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-s-navigation-list.is-open {
  right: 0;
}
.r-s-header-icon-menu {
  display: block;
}

.r-s-header-icon-button.is-open .r-s-header-icon-menu {
  display: none;
}

.r-s-header-icon-button.is-open .r-s-header-icon-close {
  display: block;
}

.r-s-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #131313;
}

.r-s-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #131313;
}
.r-s-header.is-open .r-s-header-background {
  left: 0;
}
.r-s-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-s-header-icon-menu {
  display: block;
}

.r-s-header-icon-button.is-open .r-s-header-icon-menu {
  display: none;
}

.r-s-header-icon-button.is-open .r-s-header-icon-close {
  display: block;
}

.r-s-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 12px;
  position: relative;
}

.r-s-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;

  gap: 12px;
  background: #131313;
}

.r-s-navigation-list.is-open {
  right: 0;
}

.r-s-navigation-link {
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f3f5f4;
  width: 180px;
  display: block;
  text-align: center;
  height: 40px;
  gap: 10px;
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 4px;
  background-image: none;
}

.r-s-navigation-link:hover,
.r-s-navigation-link:focus {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
}

.r-s-header.is-open {
  background-color: transparent;
}

.r-s-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .r-s-navigation-img {
    display: flex;
  }
  .r-s-header-icon-title {
    display: none;
  }
  .r-s-header-button-wrapper {
    display: none;
  }
  .r-s-header {
    width: 100%;
    height: 66px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .r-s-header-background {
  }
  .r-s-header-icon-button {
    display: none;
  }
  .r-s-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-s-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 8px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .r-s-navigation-link:hover,
  .r-s-navigation-link:focus {
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("/img/2.png");
  }

  .r-s-navigation-link {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 120px;
    height: 33px;
    padding-top: 8px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-left: 4px;
  }

  .r-s-navigation-item-desk {
    display: none;
  }
}
.r-s-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_Wprowadzenie_mob.png");
  margin: auto;
}
.r-s-home-container {
  width: 375px;
  padding: 398px 16px 0px;
  margin: auto;
}

.r-s-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r-s-home-title {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #8fb49e;
}

.r-s-home-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px 0 32px;
}

.r-s-home-link {
  display: block;
  width: 240px;
  height: 48px;

  border-radius: 40px;
  border-width: 1px;
  background: #eb5040;
  border: 1px solid #1313134d;
  box-shadow: 0px 2px 2px 0px #13131380;
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #f3f5f4;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.r-s-home-link:hover {
  background: #131313;
  box-shadow: 0px 2px 2px 0px #13131380;
  color: #eb5040;
}

@media screen and (min-width: 1200px) {
  .r-s-home {
    width: 1440px;
    height: 898px;
    background-image: url("/img/home/1_Wprowadzenie.png");
  }
  .r-s-home-container {
    width: 1440px;
    padding: 286px 165px 0px 732px;
  }
  .r-s-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .r-s-home-title {
    font-family: Syncopate;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #131313;
    text-align: left;
  }

  .r-s-home-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #131313;
    text-align: left;
    padding: 40px 0;
  }
}
.r-s-about {
  margin: auto;
  width: 375px;
  height: 575px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_O\ projekcie_mob.png");
}
.r-s-about-container {
  width: 375px;
  padding: 40px 16px;
  margin: auto;
}
.r-s-about-title {
  border-left: 2px solid #f3f5f4;
  padding: 10px;
  font-family: Lato;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #eb5040;
  margin-left: 2px;
}
.r-s-about-text-bold {
  font-family: Syncopate;
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  padding: 40px 0 116px;
  letter-spacing: 0%;
}

.r-s-about-text {
  font-family: Lato;
  font-weight: 275;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .r-s-about {
    width: 1440px;
    height: 485px;
    background-image: url("/img/2_O\ projekcie.png");
  }
  .r-s-about-container {
    width: 1440px;
    padding: 80px;
  }
  .r-s-about-title {
    border-left: 2px solid #f3f5f4;
    padding: 10px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-about-text-bold {
    font-family: Syncopate;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 80px 0 0px;
    letter-spacing: 0%;
    width: 563px;
  }
  .r-s-about-div {
    display: flex;
    gap: 79px;
  }
  .r-s-about-text {
    padding: 80px 0 0px;
    font-family: Lato;
    font-weight: 275;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
    width: 628px;
    margin-left: 0px;
  }
}

.r-s-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.r-s-about-title-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.r-s-about-title-text {
  font-family: Syncopate;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-s-why-textq {
  font-family: Lato;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 24px 0;
}
.r-s-why-list {
  width: 343;
  height: 316;
  gap: 24px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;
  background: #8fb49ecc;

  display: flex;
  flex-direction: column;
  gap: px;
}
.r-s-why-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.r-s-why-text-bold {
  width: 68px;
  height: 68px;
  border-radius: 24px;
  gap: 10px;
  border-left-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131313;
  font-family: Syncopate;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  color: #8fb49e;
}
.r-s-why-text {
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #131313;
  width: 227px;
}

@media screen and (min-width: 1200px) {
  .r-s-why-container {
    width: 1440px;
    padding: 80px 0 80px 80px;
  }
  .r-s-about-title-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .r-s-about-title-div-two {
    flex-direction: column;
    gap: 128px;
    align-items: normal;
  }
  .r-s-about-title-text {
    font-family: Syncopate;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-whyw {
    width: 281px;
  }
  .r-s-why-textq {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    width: 354px;
    padding: 48px 0 0;
  }
  .r-s-why-list {
    width: 949px;
    height: 332px;
    gap: 24px;
    border-radius: 0;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;

    padding-top: 40px;
    padding-right: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
    margin: -284px 0 0 auto;
  }
  .r-s-why-item {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .r-s-why-text-bold {
    width: 68px;
    height: 68px;
    border-radius: 24px;
    gap: 10px;
    border-left-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131313;
    font-family: Syncopate;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #8fb49e;
  }
  .r-s-why-text {
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;

    width: fit-content;
  }
}

.r-s-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px;
}

.r-s-howq {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
  padding-top: 23px;
}
.r-s-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.r-s-how-item {
  width: 343px;
  height: 230px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid #8fb49e66;
}

.r-s-how-img {
  width: 180px;
  height: 230px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.r-s-how-text-bold {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #8fb49e;
}

.r-s-how-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 16px 0;
}
.r-s-how-text-two {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-s-howa {
  font-family: Lato;
  font-weight: 300;
  font-size: 12px;
  line-height: 130%;
  padding-top: 24px;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .r-s-howa {
    font-family: Lato;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    padding-top: 48px;
  }
  .r-s-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px;
  }
  .r-s-howq {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 24px;
  }
  .r-s-how-list {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .r-s-how-item {
    width: 400px;
    height: 230px;

    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-width: 1px;
  }

  .r-s-how-img {
    width: 180px;
    height: 230px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  .r-s-how-text-bold {
    font-family: Lato;
    font-weight: 300;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-s-how-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-how-text-two {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.r-s-characters-container {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.r-s-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 32px;
}
.r-s-characters-item {
}

.r-s-characters-text-bold {
  font-family: Lato;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px 8px;

  background-image: url("/img/Vector\ 4.png");
}

.r-s-characters-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-left: 8px;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .r-s-characters-container {
    padding: 80px;
    margin: auto;
    width: 1440px;
  }
  .r-s-characterss {
    gap: 80px;
  }
  .r-s-charactersr {
    width: 312px;
  }
  .r-s-characters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    gap: 50px;
    row-gap: 30px;
    width: 890px;
    margin: -138px 0 0 auto;
  }
  .r-s-characters-item {
    width: 420px;
  }

  .r-s-characters-text-bold {
    font-family: Lato;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;

    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px 0px 4px 30px;
  }

  .r-s-characters-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;

    padding-left: 30px;
    padding-top: 16px;
  }
}

.r-s-reviews-container {
  margin: auto;
  padding: 40px 16px;
  width: 375px;
}
.r-s-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.r-s-reviews-item {
  width: 343px;

  gap: 8px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-width: 1px;
  border: 1px solid #8fb49e;
}

.r-s-reviews-img {
  margin: 0 auto;
  width: 341px;
  height: 428px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.r-s-reviewsd {
  padding: 16px;
}
.r-s-reviews-text-bold {
  font-family: Lato;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-s-reviews-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  padding: 8px 0;
}
.r-s-reviews-text-two {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .r-s-reviews-container {
    margin: auto;
    padding: 80px;
    width: 1440px;
  }
  .r-s-reviews-list {
    padding-top: 73px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
  }

  .r-s-reviews-item {
    width: 270px;
    height: 597px;
    gap: 16px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-width: 1px;
    overflow: hidden;
    position: relative;
  }

  .r-s-reviews-img {
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    width: 270px;
    height: 428px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .r-s-reviewsd {
    padding: 32px 16px 0 32px;
  }
  .r-s-reviews-text-bold {
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-s-reviews-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;

    padding: 16px 0;
  }
  .r-s-reviews-text-two {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
  }
}

.r-s-faq-container {
  padding: 40px 16px;
  width: 375px;
  margin: auto;
}
.r-s-faq-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.r-s-faq-item {
  display: flex;
  gap: 24px;
}
.r-s-faq-q {
  margin-top: 7px;
  width: 98px;
  border-top: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #131313 0%, #8fb49e 100%);
}
.r-s-faq-a {
  width: 221px;
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .r-s-faq-container {
    padding: 80px;
    width: 1440px;
    margin: auto;
  }
  .r-s-faq-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: -80px;
  }
  .r-s-faq-item {
    display: flex;
    gap: 24px;
  }
  .r-s-faq-q {
    margin-top: 13px;
    width: 690px;
    border-top: 2px solid;
    border-image-slice: 1;

    border-image-source: linear-gradient(90deg, #131313 0%, #8fb49e 100%);
  }
  .r-s-faq-a {
    width: 646px;
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}
.r-s-contact {
}

.r-s-contact-container {
  width: 375px;
  height: 832px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/8_dla\ kogo__mob.png");
  margin: auto;
  padding: 40px 16px;
}

.r-s-contact-list {
  margin-top: 40px;
  position: relative;
}

.r-s-contact-item {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  position: absolute;
  top: 72px;
  left: 21px;
  width: 101px;
}
.r-s-contact-item-q {
  top: 47px;
  left: 206px;
  width: 118px;
}
.r-s-contact-item-w {
  top: 147px;
  left: 124px;
  width: 72px;
  color: #131313;
}
.r-s-contact-item-e {
  top: 238px;
  left: 36px;
  width: 90px;
  color: #131313;
}
.r-s-contact-item-r {
  top: 249px;
  left: 197px;
  width: 121px;
}
@media screen and (min-width: 1200px) {
  .r-s-contact {
  }

  .r-s-contact-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
    height: 593px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/8_dla\ kogo_.png");
  }

  .r-s-contact-list {
    margin-top: 88px;
    margin-left: 175px;
    position: relative;
  }

  .r-s-contact-item {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;

    top: 52px;
    left: 35px;
    width: 101px;
  }
  .r-s-contact-item-q {
    top: 47px;
    left: 260px;
    width: 118px;
  }
  .r-s-contact-item-w {
    top: 127px;
    left: 168px;
    width: 72px;
    color: #131313;
  }
  .r-s-contact-item-e {
    top: 198px;
    left: 36px;
    width: 90px;
    color: #131313;
  }
  .r-s-contact-item-r {
    top: 179px;
    left: 321px;
    width: 121px;
  }
}
.r-s-gallery-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.r-s-uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.r-s-uniqueness-text-bold {
  font-family: Lato;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-bottom: 16px;
  border-bottom: 1px solid;

  border-image-source: linear-gradient(
    90deg,
    #eb5040 0%,
    rgba(143, 180, 158, 0) 100%
  );
  border-image-slice: 1;
  border-image-width: 1;
  border-image-repeat: stretch;
}
.r-s-uniqueness-text {
  font-family: Lato;
  font-weight: 275;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 16px;
}
.r-s-gallery-list {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 16px;
  margin-right: -16px;
  gap: 16px;
}

.r-s-gallery-item {
  width: 340px;
  height: 340px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;

  border: 1px solid #f3f5f466;

  overflow: hidden;
  position: relative;
}

.r-s-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .r-s-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 80px;
  }

  .r-s-uniqueness-list {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 163px;
    justify-content: center;
  }
  .r-s-uniqueness-item {
    width: 245px;
  }

  .r-s-uniqueness-text-bold {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;

    border-bottom: 1px solid;

    border-image-source: linear-gradient(
      90deg,
      #eb5040 0%,
      rgba(143, 180, 158, 0) 100%
    );

    border-image-slice: 1;
    border-image-width: 1;
    border-image-repeat: stretch;
  }
  .r-s-uniqueness-text {
    font-family: Lato;
    font-weight: 275;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-gallery-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0 0 0px;
    margin-right: 0px;
    gap: 16px;
  }

  .r-s-gallery-item {
    width: 300px;
    height: 450px;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-width: 1px;

    overflow: hidden;
    position: relative;
  }
}

.r-s-features {
  margin: auto;
  width: 375px;
  height: 491px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/10_kontakt_mob.png");
}

.r-s-features-container {
  margin: auto;
  padding: 40px 16px;
}

.r-s-features-div {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 40px 16px 0;
}
.r-s-features-title-text {
  font-family: Syncopate;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-s-features-text-bold {
  font-family: Lato;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #f3f5f4;
  text-decoration: none;
}
.r-s-features-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .r-s-features {
    width: 1440px;
    margin: auto;
    height: 465px;
    background-image: url("/img/10_kontakt.png");
  }
  .r-s-features-container {
    margin: auto;
    padding: 80px;
  }
  .r-s-features-div {
    display: flex;
    flex-direction: row;
    gap: 140.5px;
    padding: 80px 16px 0;
    align-items: center;
  }
  .r-s-features-title-text {
    font-family: Syncopate;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    width: 367px;
  }
  .r-s-features-text-bold {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-features-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;

    width: 324px;
  }
}

.r-s-container {
  padding: 96px 16px 40px;
  width: 375px;
  margin: auto;
  background: #f3f5f4;
  color: #131313;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-s-container h1 {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
}

.r-s-container h2 {
  margin-top: 10px;
  font-family: Lato;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-s-container h3 {
  margin-top: 10px;
  font-family: Lato;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.r-s-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.r-s-container ul li {
  margin-bottom: 10px;
}
.r-s-container p {
  margin-top: 10px;
}
.r-s-container a {
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.r-s-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1200px) {
  .r-s-container {
    padding: 120px 189px 80px;
    width: 1440px;
    margin: auto;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-s-container h1 {
    font-family: Syncopate;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .r-s-container h2 {
    margin-top: 20px;
    font-family: Lato;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-s-container h3 {
    margin-top: 20px;
    font-family: Lato;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .r-s-container ul {
    margin-top: 20px;
  }

  .r-s-container ul li {
    margin-bottom: 10px;
  }
  .r-s-container p {
    margin-top: 20px;
  }
}

.r-s-footer-container {
  width: 375px;
  height: 320px;
  margin: auto;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/footer/11_footer_mob.png");
  gap: 40px;
}

.r-s-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.r-s-footer-text {
  font-family: Lato;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.r-s-footer-copyright {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
}
.r-s-footer-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: Lato;
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .r-s-footer-container {
    width: 1440px;
    height: 467px;
    padding: 80px;
    display: flex;

    gap: 40px;
    background-image: url("/img/footer/11_footer.png");
  }
  .r-s-footer-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }
  .r-s-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .r-s-footer-text {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .r-s-footer-copyright {
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
  }
}

.r-s-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #8fb49e;

  z-index: 1000;
  display: none;
}

.r-s-cookie-popup-text-two {
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 20px;
  color: #131313;
}

.r-s-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.r-s-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #f3f5f4;
  width: 155px;

  border-bottom-width: 2px;
  padding: 10px 0;
  gap: 10px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #131313;
}

#accept-cookies {
  border: none;
  font-family: Lato;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: #f3f5f4;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 167px;
  padding: 10px 0;

  border-radius: 32px;
}

.r-s-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .r-s-cookie-popup-text-two {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .r-s-cookie-button-container {
    padding-top: 32px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .r-s-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
